{% extends 'base.html' %}
{% load static %}

  <!-- 이 html에 추가되는 CSS -->
  {% block css %}
  <style>
    body{font-family:'MaruBuri-Regular';}       /* 글씨 적용 */
          #title{
              margin-left: 620px;
              margin-top: 50px;
          }

          .search{
            width: 1000px;
            margin-left: 150px;
            margin-top: 30px;
          }

          #content{
              margin-left: 650px;
              margin-top: 30px;
          }

          .thumbnail{
              width: 430px;
              height: 530px;
              margin-left: 40px;
              margin-right: 20px;
              margin-top: 50px;
          }
          .a_btn{
              margin-left: 100px;
          }
  </style>
  {% endblock %}
  
  <!--본문 내용-->
  {% block content %}
      <div id=title>
        <p>
        <h2>With_CAMPING</h2>
        </p>
    </div>

    <!-- 상품 검색 칸 -->
    <div class="search">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." style="height: 45px; width: 1085px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="height: 45px; width: 45px;">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
      <br>

    <div id=content>
        <p>
        <h2>전체상품</h2>
        </p>
    </div>

      <!-- 상품 보여주는 칸 -->
    {% for a in camping_tools %}
    <div class="row" style="float:left;">
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">'
            <div class="caption">
            {% if a.image %}
            <a href="{% url 'camping_tool_detail' a.id %}"><img src="{{ a.image.url }}" alt="텐트" width="400px" height="100px"></a>
            {% endif %}
              <div class="a_btn">
                <p><a href="{% url 'camping_tool_detail' a.id %}" class="btn btn-primary" role="button">구매하기</a> <!-- 링크 -->
                    <a href="{% url 'camping_tool_detail' a.id %}" class="btn btn-default" role="button">대여하기</a>
                </p> <!-- 링크 -->
              </div>
            </div>
          </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}