{% extends 'base.html' %}
{% load static %}

  <!-- 이 html에 추가되는 CSS -->
  {% block css %}

    <style>
  body{
          background-color:#FFFFFC;
        } 
    
.loginform{
	background-color: #FFFFFC;
	text-align: center;
    margin-top: 150px;
}

#loging{
	padding-top: 0;
	height: 600px;
}
#loging h1 {
    margin-bottom: 90px;
}

.loginbtn {
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:30px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:20px;
	color:white;
	width:289px;
	height:50px;
	padding:13px;
	border-color:#fcfcfc;
	border-width:2px;
	border-style:solid;
	background-color: #FFF9DC;
    margin-top:10px;
}