<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>

    <link rel="stylesheet" href="purchase.css">

</head>
<body>
    <!-- 로그인/회원가입 네비게이션 바 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="   ">로고</a>    <!--메인 화면으로 넘어가는 링트 달기 -->   <!--로고 사진 넣기 --> 
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href=#>캠핑장 예약</a></li>      <!--예약페이지 링크 달기 --> 
              <li><a href=#>캠핑용품 구매/대여</a></li>      <!--캠핑용품 구매/대여 --> 
              <li><a href=#>로그인</a></li>      <!--로그인 링크 달기 --> 
              <!-- <li><a href=#>Logout</a></li> -->
              <li><a href="   ">회원가입</a></li>    <!--회원가입 링크 --> 
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div id=title>
        <p>
        <h2>With_CAMPING</h2>
        </p>
    </div>

    <!-- 상품 검색 칸 -->
    <div class="search">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." style="height: 45px; width: 1085px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="height: 45px; width: 45px;">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
      <br>

    <div id=content>
        <p>
        <h2>전체상품</h2>
        </p>
    </div>

      <!-- 상품 보여주는 칸 -->
    <div class="row" style="float:left;">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="tent.jpg" alt="텐트" width="400px" height="100px">
                <div class="caption">
                    <h4>메이튼 레드와일드 캠핑 오두막 텐트 3-4인용</h4>
                    <p>구매:330,000원  &nbsp  &nbsp  대여:132,000원</p>
                    <div class="a_btn">
                        <p><a href="#" class="btn btn-primary" role="button">구매하기</a> <!-- 링크 -->
                            <a href="#" class="btn btn-default" role="button">대여하기</a>
                        </p> <!-- 링크 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="row" style="float:left;">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="brazier.jpg" alt="화로대" width="400px">
            <div class="caption">
              <h4>캠핑 화로대 바비큐 그릴 접이식 불멍화로대</h4>
              <p>구매:127,000원 &nbsp  &nbsp 대여:50,800원</p>
              <div class="a_btn">
                <p><a href="#" class="btn btn-primary" role="button">구매하기</a> <!-- 링크 -->
                    <a href="#" class="btn btn-default" role="button">대여하기</a>
                </p> <!-- 링크 -->
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="float:left;">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="table.jpg" alt="테이블" width="380px">
            <div class="caption">
              <h3>경량 캠핑 테이블 소형</h3>
              <p>구매:19,800원 &nbsp  &nbsp 대여:7,920원</p>
              <div class="a_btn">
                <p><a href="#" class="btn btn-primary" role="button">구매하기</a> <!-- 링크 -->
                    <a href="#" class="btn btn-default" role="button">대여하기</a>
                </p> <!-- 링크 -->
            </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
